@media (min-width: 768px){
	.ui-tabs .ui-tabs-panel{
	    padding: 0;
	}
	.button-sidebar{
		display: none;
	}
	.ui-tabs .nav-tab-menu.hover-tab{
	    margin-left: 250px;
	    transition: all 0.5s ease;
	}
	.ui-tabs .ui-tabs-nav{
	    margin-left: 50px;
	    transition: all 0.5s ease;
	}
	#sidebar-wrapper{
		top: -1px;
	}
	#main-menu>li {
	    margin-left: 10px;
	}
	.main-nav{
	    background: #fafafa;
	}
	.sm-mint a, .sm-mint a:hover, .sm-mint a:focus, .sm-mint a:active, .sm-mint a.highlighted{
	    border-radius: 0px;
	    border: solid 1px #eee;
	    padding-top: 5px;
	    padding-bottom: 5px;
	    margin-bottom: 5px;
	    margin-top: 5px;
	    background-color: #fff;
	    color: #000;
	}
	#main-menu li a i {
	    padding-right: 5px;
	}
	.sm-mint a:hover span.sub-arrow, .sm-mint a:focus span.sub-arrow, .sm-mint a:active span.sub-arrow{
		border-color: black transparent transparent ;
	}
	.sm-mint ul{
	    background: #fff;
	}
	
}
@media (max-width: 767px){
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    top: 100%;
    background-color: #fff;
    z-index: 1000000;
    box-shadow: #777 1px 2px 3px;
	}
	.nav>li {
	    display: inline-block;
	}
	.navbar-collapse.in{
	    overflow: visible;
	}
	#sidebar-wrapper{
		/* 
		bottom: 0;
		width: 250px;
		left: 0; */
	}
	.wrapper .page-content-wrapper{
	    margin-left: -23px;
	    transition: all 0.3s ease-in-out 0s;
	}
	.wrapper.toggled-2 .page-content-wrapper{
	   margin-left: 200px;
	   transition: all 0.3s ease-in-out 0s;
	}
	
	.wrapper.toggled-2  #sidebar-wrapper {
	    width: 210px;
	    left: 250px;
	}
	.sidebar-nav{
	    width: 206px;
	}
	#sidebar-wrapper{
		left: 0;
	}
	body .wrapper-main{
		margin-top: 45px !important: 
	}
}