body {
  padding-top: 50px;
}

.menu-navigation {
  /*padding-top: 10px;*/
  border: 1px solid #000;
}

/*Style for the first level menu bar*/
.main-nav {
  border-bottom: 2px solid #CE5256;
  background: #fff;
  padding-top: 3px;
  z-index: auto;
}

.main-nav:after {
  clear: both;
  content: "\00a0";
  display: block;
  height: 0;
  font: 0px/0 serif;
  overflow: hidden;
}

.nav-brand {
  float: left;
  margin: 0;
}

.nav-brand a {
  display: block;
  padding: 11px 11px 11px 20px;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
}

#main-menu {
  clear: both;
  border-bottom: 0;
  z-index: 1001;
}

@media (min-width: 768px) {
  #main-menu {
    float: left;
    clear: none;
  }
}


/* Mobile menu toggle button */

.main-menu-btn {
  float: right;
  margin: 5px 10px;
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  text-indent: 29px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* hamburger icon */

.main-menu-btn-icon,
.main-menu-btn-icon:before,
.main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #333;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}

.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}


/* x icon */

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* hide menu state checkbox (keep it visible to screen readers) */

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}


/* hide the menu in mobile view */

#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}

#main-menu-state:checked ~ #main-menu {
  display: block;
}

@media (min-width: 768px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px;
  }
  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: block;
  }
}


/*******************************************/
.am-background {
  margin: 0;
  /* background-image: url("image/logo-dark.png"); */ 
  background-repeat: no-repeat;
  max-height: 700px;
  background-position: center ;
  background-size: 80% auto;
  /*width: 1000px;*/
  /*height: 1000px;*/
  /*background-size: 1440px 800px;*/
  /*background-color: #cccccc;*/
  background-repeat:no-repeat;
  text-align: center;
}
.am-background img {
  white-space: nowrap;
  object-fit: scale-down;
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
}
.navbar-custom {
  background-color:#404040;
  color:#ffffff;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  color:#fff;
}

.navbar-custom .navbar-nav > .active > a {
  color: #ffffff;
  background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
  text-decoration: none;
  background-color: #404040;
}

.navbar-custom .navbar-brand {
  color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  background-color:#DADADA;
}
/***********/

.profile-image  {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

/***********************/
.icon-small
{
  height:18px;
  margin:0;
  padding:0;
}

.icon-medium
{
  height:22px;
  margin:0;
  padding:0;
}

.am-table tr th {
  white-space: nowrap;
}

.div-scroll-table {
  height: 278px;
}

.modal { overflow: auto !important; }
.input-group-btn {
  font-size: unset;
}

/* =======================my style================ */
.wrapper-main {
  position: relative;
}

#sidebar-wrapper{
  position: fixed;
}
.sub-menu {
  display: none;
  list-style: none;
}

.well{
  border-radius: 0;
  box-shadow: none;
   border: 1px solid #efefef;
}
.main-wrapper {
    padding-top: 55px !important;
}