/* Button purple */
.btn-purple { 
  color: #FFFFFF; 
  background-color: #8430F2; 
  border-color: #8430F2; 
} 
.btn-purple:hover, 
.btn-purple:focus, 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  color: #FFFFFF; 
  background-color: #49247A; 
  border-color: #8430F2; 
} 
.btn-purple:active, 
.btn-purple.active, 
.open .dropdown-toggle.btn-purple { 
  background-image: none; 
} 
.btn-purple.disabled, 
.btn-purple[disabled], 
fieldset[disabled] .btn-purple, 
.btn-purple.disabled:hover, 
.btn-purple[disabled]:hover, 
fieldset[disabled] .btn-purple:hover, 
.btn-purple.disabled:focus, 
.btn-purple[disabled]:focus, 
fieldset[disabled] .btn-purple:focus, 
.btn-purple.disabled:active, 
.btn-purple[disabled]:active, 
fieldset[disabled] .btn-purple:active, 
.btn-purple.disabled.active, 
.btn-purple[disabled].active, 
fieldset[disabled] .btn-purple.active { 
  background-color: #8430F2; 
  border-color: #8430F2; 
} 
.btn-purple .badge { 
  color: #8430F2; 
  background-color: #FFFFFF; 
}
/* Button pink*/
.btn-pink { 
  color: #FFFFFF; 
  background-color: #D911BB; 
  border-color: #D911BB; 
} 
.btn-pink:hover, 
.btn-pink:focus, 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  color: #FFFFFF; 
  background-color: #B50B9B; 
  border-color: #D911BB; 
} 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  background-image: none; 
} 
.btn-pink.disabled, 
.btn-pink[disabled], 
fieldset[disabled] .btn-pink, 
.btn-pink.disabled:hover, 
.btn-pink[disabled]:hover, 
fieldset[disabled] .btn-pink:hover, 
.btn-pink.disabled:focus, 
.btn-pink[disabled]:focus, 
fieldset[disabled] .btn-pink:focus, 
.btn-pink.disabled:active, 
.btn-pink[disabled]:active, 
fieldset[disabled] .btn-pink:active, 
.btn-pink.disabled.active, 
.btn-pink[disabled].active, 
fieldset[disabled] .btn-pink.active { 
  background-color: #D911BB; 
  border-color: #D911BB; 
} 
.btn-pink .badge { 
  color: #D911BB; 
  background-color: #FFFFFF; 
}
/* Button outline */
.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all .5s;
}
.btn-primary.btn-outline {
  color: #428bca;
}
.btn-success.btn-outline {
  color: #5cb85c;
}
.btn-info.btn-outline {
  color: #5bc0de;
}
.btn-warning.btn-outline {
  color: #f0ad4e;
}
.btn-danger.btn-outline {
  color: #d9534f;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

/* Button round */
.btn-round-lg{
border-radius: 22.5px;
}
.btn-round{
border-radius: 17px;
}
.btn-round-sm{
border-radius: 15px;
}
.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}
/* DivTable.com */
.divTable{
  display: table;
  width: 100%;
  height: auto;
}
.divTable-responsive{
  width: 100%;
  overflow-x: auto;
  display: block;
  overflow-y: hidden;
}
.divTableRow {
  display: table-row;
}
.divTableBody .divTableRow:hover {
  background-color: #d2cbcb;
  cursor: pointer;
}
.divTableHeading {
  background-color: #99BFE6;
  display: table-header-group;
  white-space: nowrap;
}
.divTableCell, .divTableHead {
  border: 1px solid #f1f0f0;
  display: table-cell;
  padding: 7px 10px;
  /*width: 100%;*/
}
.divTableHeading {
  /* background-color: #EEE; */
  display: table-header-group;
  font-weight: bold;
}
.divTableFoot {
  background-color: #EEE;
  display: table-footer-group;
  font-weight: bold;
}
.divTableBody {
  display: table-row-group;
  background-color: #fff;
  
}
.holder {
  margin:15px 0;
}
.holder a {
  font-size:12px;
  cursor:pointer;
  margin:0 5px;
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
.holder a:hover {
  background-color:#222;
  color:#fff;
}
.holder a.jp-previous {
  margin-right:15px;
}
.holder a.jp-next {
  margin-left:15px;
}
.holder a.jp-current,a.jp-current:hover {
  font-weight:bold;
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}
.holder a.jp-disabled,a.jp-disabled:hover {
  color:#bbb;
  cursor: not-allowed;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
  cursor: pointer;
}
.holder span {
  margin: 0 5px;
}
.holder a:hover:not(.active) {background-color: #ddd}
.item-per-page{
  padding-top: 15px;
}