#nav-tabs {
   
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
}
li.ui-tabs-tab.ui-corner-top.ui-state-default.ui-tab.ui-tabs-active.ui-state-active {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.ui-tabs .ui-tabs-nav li{
    margin: 1px 5px 0 0;
}
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited{
    color: black;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom: 1.4px solid #ddd;

}
.ui-widget-header{
     background: #fff;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br{
    border-radius: 0px;
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image: url(../../../source/jquery-ui/images/ui-icons_444444_256x240.png) !important;
}


/*!
* Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/
/* Toggle Styles */
.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
.wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -251px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  
}
.main-nav {
    position: fixed;
    top: 51px;
    z-index: 1001;
    width: 100%;
}
.wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
.page-content-wrapper {
  /*   position: absolute; */
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}
.xyz{
    min-width: 360px;
}
.wrapper.toggled .page-content-wrapper {
    position: relative;
    margin-right: 0px;
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
    overflow: auto;
}
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
@media(min-width:768px) {
    /* .wrapper {
        padding-left: 250px;
    } */
    .sidebar-label{
        cursor: pointer;
    }
    .fixed-brand{
        width: 250px;
    }
    .wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 50px;
    }
     /* #sidebar-wrapper:hover{
       width: 250px;
     } */
      #sidebar-wrapper.toggle{
       width: 250px;
       }
    .wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    .wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    /* .wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    } */
    .page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        margin-left: 25px;
    }
    .wrapper.toggled .page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    .wrapper.toggled-2 .page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
    }
}



.sidebar-label {
    background-color: #222;
    color: #fff;
}
.sidebar-nav li a{
    border-radius: 0px;
}
#sidebar-wrapper{
    background: #383838;
     
    box-shadow: #b1b1b1 3px 5px 11px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    color: #ce5256;
    background-color: transparent;
    border-left: none;
    outline: none;
}
#sidebar-wrapper>ul>li>a{
        border-top: solid 1px #4c4c4c;
} 

.nav-stacked>li+li{
    margin-top: 0px;
}
.arrow {
    float: right;
    margin-right: 15px;
}
.sub-menu li a {
    background-color: #444444;
    border-top: solid 1px #4c4c4c;
}
.sub-menu{
    -webkit-padding-start: 0px;
}
.sidebar-nav li a:hover{
    border-left: 0px;
}
li.dropdown-sidebar>a:before {
   content: "";
    display: block;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
    border-top: solid 6px #383838;
    position: absolute;
    top: 40px;
    left: 18px;
}
li.dropdown-sidebar>a {
    position: relative;
}
.sub-menu li:first-child a{
    border-top: 0px;
}
.nav-stacked>li+li{
    overflow: hidden;
}

a:focus{
    outline: none;
}