<style type="text/css">
/*!
* Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
* Code licensed under the Apache License v2.0.
* For details, see http://www.apache.org/licenses/LICENSE-2.0.
*/
/* Toggle Styles */
.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
.wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
}
.sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.wrapper.toggled .sidebar-wrapper {
    width: 250px;
}
.page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;
    overflow-x: hidden;
}
.xyz{
    /*min-width: 360px;*/
    min-width: auto;
}
.wrapper.toggled .page-content-wrapper {
    position: relative;
    margin-right: 0px;
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
    border-left: red 2px solid;
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
@media(min-width:768px) {
    .wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    .wrapper.toggled {
        padding-left: 0;
    }
    .sidebar-wrapper {
        width: 250px;
    }
    .wrapper.toggled .sidebar-wrapper {
        width: 250px;
    }
    .wrapper.toggled-2 .sidebar-wrapper {
        width: 50px;
    }
    .wrapper.toggled-2 .sidebar-wrapper:hover {
        width: 250px;
    }
    .page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
    .wrapper.toggled .page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    .wrapper.toggled-2 .page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
    }
}
</style>

<div class="wrapper">
<!-- Sidebar -->
<div class="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
        
        <li class="active">
            <a href="#" type="button" data-toggle="modal" data-target=".bs-example-modal-sm"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus fa-stack-1x "></i></span> Create</a>
        </li>
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span> Shortcut</a>
            <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
                <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
        </li>
        <li>
            <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Events</a>
        </li>
        
        
    </ul>
    </div><!-- /.sidebar-wrapper -->
    <!-- Page Content -->
    <div class="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                <div class="pull-left">
                     <button id="menu-toggle-2345"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                </div>
                <hr/>
                           
                    <!-- bs-example-navbar-collapse-1 -->
                    <h1>AMnote account manager loink 3</h1>
                    <p>
                    nguyen tuan
                        Consequat consectetur pariatur dolore pariatur esse exercitation et qui non dolor nulla nisi non dolor non do esse mollit labore cupidatat dolore amet officia consectetur consectetur nulla esse dolore duis reprehenderit ut dolor tempor proident excepteur ea officia elit quis dolor esse laboris sunt quis dolor dolor id in quis et in reprehenderit labore occaecat eu est ut veniam amet irure in dolore duis id et ut anim ullamco labore sunt sunt commodo dolor dolor ex culpa ut occaecat in nulla labore tempor exercitation exercitation consectetur cillum nostrud ex laboris minim adipisicing enim id dolore veniam deserunt tempor pariatur amet ut sit ut deserunt eiusmod occaecat incididunt eiusmod dolore velit sint commodo nostrud amet minim do sunt ad incididunt ullamco aute veniam in sit labore voluptate deserunt labore quis exercitation sed culpa elit ea ullamco et sunt ut adipisicing culpa tempor labore dolore veniam est tempor deserunt ut fugiat eiusmod laborum est deserunt esse reprehenderit eu ut nisi aute mollit in ut eu et velit laborum minim velit est veniam enim deserunt nisi laborum anim dolor aliqua exercitation in nostrud ut aliquip ut.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.page-content-wrapper -->
</div>
<!-- /#wrapper -->
<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div><!-- /.modal-header -->
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end Small modal -->       
        


<script type="text/javascript">

$("#menu-toggle-2345").click(function(e) {
    e.preventDefault();
    $(".wrapper").toggleClass("toggled-2");
    $('#menu ul').hide();
});

function initMenu() {
    $('#menu ul').hide();
    $('#menu ul').children('.current').parent().show();
    //$('#menu ul:first').show();
    $('#menu li a').click(
        function() {
            var checkElement = $(this).next();
            if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                return false;
            }
            if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                $('#menu ul:visible').slideUp('normal');
                checkElement.slideDown('normal');
                return false;
            }
        }
    );
}
$(document).ready(function() {
    initMenu();
});
</script>