<style type="text/css">
    .sub-menu {
        display: none;
        list-style: none;
    }
  /*   .sidebar-nav li.active ul{display:block;} */
</style>
<div class="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper" class="sidebar-wrapper-top">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
            <li class="sidebar-label">
               <span class="fa-stack fa-lg pull-left"><i class="fa fa-list fa-stack-1x "></i></span> Navigation
            </li>
            <li class="active">
                <a href="#" type="button" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="fa-stack fa-lg pull-left"><i class="fa fa-plus fa-stack-1x"></i></span> Create</a>
            </li>
            <li class="dropdown-sidebar">
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-print fa-stack-1x pull-left"></i></span> Shortcut <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                <ul class="nav-pills nav-stacked sub-menu">
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>
                </ul>
            </li>
            <li class="dropdown-sidebar">
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-print fa-stack-1x pull-left"></i></span> Shortcut <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                <ul class="nav-pills nav-stacked sub-menu">
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>
                </ul>
            </li>
            <li class="dropdown-sidebar">
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-print fa-stack-1x pull-left"></i></span> Shortcut <span class="arrow"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                <ul class="nav-pills nav-stacked sub-menu">
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
                    <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
            </li>
            <li>
                <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Events</a>
            </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div class="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row hidden-lg hidden-md">
                <div class="col-lg-12">
                    <div class="pull-left">
                         <button id="menu-toggle-234" class="button-sidebar"> <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                    </div>
                </div>
                <br/>
            </div> 
            <div class="clearfix"></div>
            <div>
               <div class="well well-lg">
                    <form class="form-inline">
                        <div class="form-group">
                            <label>Loại chứng từ:</label>
                            <select name="" id="input" class="form-control">
                                <option value="">Loai 1</option>
                                <option value="">Loai 1</option>
                                <option value="">Loai 1</option>
                            </select>
                        </div>
                        <div class="form-group has-feedback">
                            <label>Date start:</label>
                            <input type="text" class="form-control" name="datepicker">
                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                        </div>
                        <div class="form-group has-feedback">
                            <label>~ Date end:</label>
                            <input type="text" class="form-control" name="datepicker">
                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                        </div>
                        
                        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i> Search</button>
                    </form>
                    <hr>
                    <div class="table-responsive">
                         <table class="table table-hover" id="example-datatable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>2011/04/25</td>
                                    <td>$320,800</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
               </div>

                <div class="well well-lg">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>ss</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>sss</td>
                                </tr>
                                <tr>
                                    <td>sss</td>
                                </tr>
                                <tr>
                                    <td>sss</td>
                                </tr>
                                <tr>
                                    <td>sss</td>
                                </tr>

                                <tr>
                                    <td>sss</td>
                                </tr>
                                <tr>
                                    <td>sss</td>
                                </tr>
                                <tr>
                                    <td>sss</td>
                                </tr>
                                <tr>
                                    <td>sss</td>
                                </tr>
                                <tr>
                                    <td>sss</td>
                                </tr>
                                <tr>
                                    <td>sss</td>
                                </tr>
                                <tr>
                                    <td>sss</td>
                                </tr>

                                <tr>
                                    <td>sss</td>
                                </tr>
                                <tr>
                                    <td>sss</td>
                                </tr>
                                <tr>
                                    <td>sss</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /.page-content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div><!-- /.modal-header -->
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- end Small modal -->       

<!-- start modal insert chit -->
<div class="container">
    <div class="row">
        <!-- Large modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div><!-- /.modal-header -->

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">

                                <form role="form">
                                    <div class="form-group">
                                        <label>Loại chứng từ</label>
                                        <input type="email" class="form-control input-sm" bid="inputEmail3" placeholder="Email"/>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label>Ngày</label>
                                            <input type="text" class="form-control" name="datepicker" id="datepicker">
                                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                                    </div>
                                    <div class="form-group">
                                        <label>Tên danh mục</label>
                                        <div class="input-group">
                                            <select name="" id="input" class="form-control input-sm" required="required">
                                                <option value="">option 1</option>
                                                <option value="">option 1</option>
                                                <option value="">option 1</option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button class="btn input-sm" type="button" data-toggle="tooltip" data-placement="right" title="Create chit type name">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Số chứng từ: </label>
                                        <button type="button" class="btn btn-primary btn-xs">Tự động chèn</button>
                                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target=".modal-chit-no-style">Chit no style</button>
                                        <input type="text" class="form-control input-sm" />
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form role="form">
                                    <div class="form-group">
                                        <label>Họ tên người nhận tiền(người nhận tiền)</label>
                                        <input type="text" class="form-control input-sm" placeholder="Họ tên người nhận tiền(người nhận tiền)"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Mô tả tiếng Việt</label>
                                        <input type="text" class="form-control input-sm"/>
                                    </div>

                                    <div class="form-group">
                                        <label>Mô tả tiếng Anh</label>
                                        <input type="text" class="form-control input-sm"/>
                                    </div>
                                    <div class="form-group">
                                        <label>Mô tả tiếng Hàn</label>
                                        <input type="text" class="form-control input-sm"/>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-xs btn-primary">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button class="btn btn-xs btn-danger">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive div-scroll-table">
                                    <table class="table table-bordered table-striped am-table">
                                        <thead style="background-color: #808080">
                                            <tr>
                                                <th>Tên khách hàng</th>
                                                <th>Đối tượng tập hợp chi phí</th>
                                                <th>Table heading</th>
                                                <th>Table heading</th>
                                                <th>Table heading</th>
                                                <th>Table heading</th>
                                                <th>Table heading</th>
                                                <th>Table heading</th>
                                                <th>Table heading</th>
                                                <th>Table heading</th>
                                                <th>Table heading</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                            <tr>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                            <tr>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                            <tr>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                            <tr>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                            <tr>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                            <tr>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                            <tr>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                            <tr>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                            <tr>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                                <td>Table cell</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div><!-- /.modal-body -->
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-footer -->

                </div><!-- /.modal-content -->
                
            </div>
        </div>

        <!-- Chit no style modal -->
        <div class="modal fade modal-chit-no-style" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label>Số chữ số của số thứ tự:</label>
                                <select name="" id="input" class="form-control" required="required">
                                    <option value="">1</option>
                                    <option value="">1</option>
                                    <option value="">1</option>
                                </select>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Option 1</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="">Option 2</label>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Chit no style modal -->
    </div>
</div>
<!-- end modal -->


<script type="text/javascript">
    $(window).ready(function() {
        $('.sidebar-nav li').click(function() {
            $(this).parent().find('li').removeClass('active');
            $(this).addClass("active");
        });

        $('input[name="datepicker"]').datepicker().datepicker("setDate", new Date());
        $('#example-datatable').DataTable();
        $('[data-toggle="tooltip"]').tooltip();

         $("#sidebar-wrapper").hover(function() {
        $('.nav-tab-menu').toggleClass('hover-tab');
    });

    $("#menu-toggle-234").click(function(e) {
        e.preventDefault();
        $(".wrapper").toggleClass("toggled-2");
        $('#menu ul').hide();
    });

    $('.dropdown-sidebar').click(function(){
        $(this).children('.sub-menu').slideToggle();

    });
    
    function initMenu() {
        $('#menu ul:first').show();
        $('#menu li a').click(
            function() {
                var checkElement = $(this).next();
                if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                    return false;
                }
                if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                    $('#menu ul:visible').slideUp('normal');
                    checkElement.slideDown('normal');
                    return false;
                }
            }
        );
    }
    $(document).ready(function() {
       

        });
      /*  $('#nav-tabs').each(function() {
            var h1 = $(window).height();
            var h2 = $(this).height();
            var navbar = $('.navbar').height()+1;
            var main_nav = $('.main-nav').height();
            
            if (h2 < h1) {
                console.log('if')
                $(this).css('height', h1-(navbar+main_nav));
               
                $("#nav-tabs").tabs({
                    heightStyle:  h1-(navbar+main_nav)
                });
            } else {
                console.log('else')
                $(this).css('height', 'auto');
                $("#nav-tabs").tabs({
                    heightStyle: h2
                });
            }
        })*/
       
         if (window.matchMedia('(min-width: 768px)').matches) {
             $('.sidebar-wrapper-top').each(function(){
            var h1 = $(window).height();
             var navbar = $('.navbar').height()-1;
                var main_nav = $('.main-nav').outerHeight();
                  
                $(this).css('top',navbar+main_nav);
                $('.sidebar-nav').css('height',h1-(navbar+main_nav));
               
                
        });
             var main_nav = $('.main-nav').height();
            $('.wrapper-main').css('margin-top',main_nav+6);
        } else {
            //...
        }
       /* $('.wrapper').each(function() {
            var h1 = $(window).height();
            var h2 = $(this).height();
            if (h2 < h1) {
                $(this).css('height', h1);
            } else {
                $(this).css('height', $('.page-content-wrapper').height());
                $("#nav-tabs").tabs({
                    heightStyle: $('.page-content-wrapper').height()
                });
                // $('.ui-tabs-panel').css('height', $('.page-content-wrapper').height())
            }
        });*/
    });
    $(window).resize(function() {
        $('.sidebar-wrapper-top').each(function() {
            var h1 = $(window).height();
            var navbar = $('.navbar').height() - 1;
            var main_nav = $('.main-nav').outerHeight();
            $(this).css('top', navbar + main_nav);
            $('.am-background').css('margin-top', main_nav);
            $('.sidebar-nav').css('height',h1-(navbar+main_nav)-3);
        });
         if (window.matchMedia('(min-width: 768px)').matches) {

             var main_nav = $('.main-nav').height();
            $('.wrapper-main').css('margin-top',main_nav+6);
        } else {
              var main_nav = $('.main-nav').height();
            $('.wrapper-main').css('margin-top',main_nav+6);
        }
        /*$('.wrapper').each(function() {
            var h1 = $(window).height();
            var h2 = $(this).height();
            if (h2 < h1) {
                $(this).css('height', h1);
            } else {
                $(this).css('height', $('.page-content-wrapper').height());
                $("#nav-tabs").tabs({
                    heightStyle: $('.page-content-wrapper').height()
                });
                // $('.ui-tabs-panel').css('height', $('.page-content-wrapper').height())
            }
        });*/
       /* $('#nav-tabs').each(function() {
            var h1 = $(window).height();
            var h2 = $(this).height();
            var navbar = $('.navbar').height()+1;
            var main_nav = $('.main-nav').height();
            
            if (h2 < h1) {
                console.log('if')
               
                $(this).css('height', h1-(navbar+main_nav));
                $("#nav-tabs").tabs({
                    heightStyle:  h1-(navbar+main_nav)
                });
            } else {
                console.log('else')
                $(this).css('height', 'auto');
                $("#nav-tabs").tabs({
                    heightStyle: h2
                });
            }
        })*/
    });
</script>