body {
	padding-top: 105px;
	width: 100%;
	height: 100%;
}

html {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 768px) {
    body { padding-top: 70px; }
}
@media(min-width:767px) {
	.navbar {
		padding: 20px 0;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}

	.top-nav-collapse {
		padding: 0;
	}
}
.testimonials-section {
	height: 100%;
	padding-top: 50px;
	text-align: center;
	background: #fff;
}

.features-section {
	height: 100%;
	padding-top: 50px;
	background: #fff;
}

.slide-section {
	height: 100%;
	padding-top: 100px;
	padding-bottom: -50px;
	text-align: center;
	background: #fff;
}

.faq-section {
	height: 100%;
	padding-top: 50px;
	text-align: center;
	background: #fff;
}

.contact-section{
	height: 100%;
	padding-top: 50px;
	text-align: center;
	background: #fff;
}