body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

@media screen and (max-width: 1400px) {
    .table-responsive {
        border: 1px solid #ddd;
        margin-bottom: 15px;
        overflow-x: auto;
        overflow-y: auto;
        width: 100%;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }

}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: relative !important;
    }
}

.am-table tr th {
    white-space: nowrap;
}

.div-scroll-table {
    height: 278px;
}

.modal { overflow: auto !important; }

