html {
    background: #546576 url(../images/html-bg.png) repeat-x;
}
body{
    color: #fff;
    font-family: Myriad Pro, arial, sans-serif;
}
/* GENERAL STYLE */
a {
    color: #fff
}
a.button {
    /* BUTTON STYLE */
    position: relative;
    background: #5e7285;
    padding: 6px 9px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #a3b5d4;
    text-decoration: none;
    text-shadow: 0 1px 0 #000000;
    font-size: 13px;
    font-weight: bold;
    -moz-box-shadow: 0 0 1px #000000;
    -webkit-box-shadow: 0 0 1px #000000;
}
a.button:hover {
    background: #4a5969;
}

#container{
    position: relative;
    padding-top: 15px
}

#header {

}
#header img {
    float: left;
}
#header #nav {
    float: right;
    overflow: hidden;
    margin: 0;
}
#header #nav li {
    float: left;
    background-color: #5e7285;
    list-style: none;
    padding: 6px 15px;
    margin: 0 0 0 20px;
    height: 14px;
    line-height: 14px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    border: 1px solid #a3b5d4;
}
#header #nav li.selected, #header #nav li:hover {
    background: #536475 url(../images/button-bg.png) repeat-x;
    border: 1px solid #161e2a;
}
#nav li a {
    text-decoration: none;
    display: block;
}

/* APPS */
#apps {
    padding-top: 28px
}
#apps ul {
    overflow: hidden;
    display: inline;
}
#apps ul li {
    float: left;
    list-style: none;
    text-align: center;
    margin-left: 0;
    margin-right: 45px;
    font-weight: bold;
}
#apps ul li.current, #apps ul li:hover {
    background: #475665 url(../images/current-app-bg.png) repeat-x;
    padding: 17px 15px;
    border: 1px solid #161e2a;
    -moz-border-radius: 10px;
    -webkit-border-radius:10px;
    margin-top: -10px;
}
#apps ul li:not(.current):hover {
    margin-left: -15px;
    margin-right: 28px
}
#apps ul li img {
    display: block;
}
#apps ul li a {
    text-decoration: none;
    font-size: 12px;
}
#apps img#graphic {
    float: right;
}

/* MAIN BANNER */
#banner {
    background: url(../images/$299-2.jpg) no-repeat;
    margin-top: 10px
    color: #ffffff;
    padding-left: 34px;
    position: relative;
    height: 284px;
}
#banner h2 {
    color: #d4d7db;
    font-size: 48px;
    line-height: 58px;
    border-bottom: 1px solid #000;
    padding-top: 31px;
    padding-bottom: 18px;
    margin-bottom: 0;
    text-shadow: 0 1px 3px #000;
    margin-right: 350px;
}
#banner p {
    margin-top: 0;
    padding-top: 15px;
    border-top: 1px solid #6e8193;
    font-size: 20px;
    line-height: 25px;
    margin-right: 350px;
    text-shadow: 0 1px 3px #000000;
}
#banner p strong{
    color: #131828;
}
#banner img#phone {
    position: absolute;
    right: 101px;
    top: 38px
}
#banner img#download {
    position: absolute;
    left: 190px;
    bottom: -45px;
}

/* MAIN */
#main {
    clear: both;
    padding-top: 50px; /* padding/margin - IE FIX */
    margin-top: -50px;
    font-weight: bold;
}
#main h4, #main h3 {
    color: #131828;
    text-shadow: 0 1px 1px #949ea9;
}
#main h3 {
    margin-bottom: 0;
}
#main h4 {
    margin-bottom: 9px;
}
#main ul li {
    margin-left: 15px;
    margin-bottom: 10px;
    line-height: 18px;
    font-size: 13px;
}
#main #sub1 h3 {
    font-size: 36px;
    margin-top: -17px;
}
#main ul{
    margin: 0;
    padding: 0;
}
#main #sub1 li {
    list-style: none;
    display: inline;
    margin-left: 0;
}
#main #sub2 li {
    list-style: none;
    margin-left: 0;
    padding-left: 15px;
    background: url(../images/bullet-img.png) no-repeat 0 50%;
}
#main #sub3 {
    margin-top: 143px;
}
#main #sub3 p {
    font-size: 12px;
    font-weight: normal
}
#main #sub3 p:first-child {
    background: url(../images/boder2.png) repeat-x 0 100%;
    padding-bottom: 14px;
    margin-bottom: 14px
}
#main #sub3 li {
    background: url(../images/boder2.png) repeat-x 0 100%;
    font-style: italic;
    margin-bottom: 28px;
    margin-left: 0;
    list-style: none;
}
#main #sub3 li:last-child {
    background: none;
}

/* FOOTER */
#footer-wrap {
    background: #212b3f url(../images/footer-bg.png) repeat-x;
}
#footer {
    overflow: hidden;
    padding-bottom: 32px;
}
#footer div:last-child a.button {
    width: 90px;
    margin-top: 30px;
    clear: both
} 
#footer ul {
    margin: 0;
    padding: 0;
}
#footer ul li {
    list-style: none;
    margin-left: 0;
    padding-bottom: 11px;
    margin-bottom: 15px;
    border-bottom: 1px dashed #cccccc;
}
#footer li span {
    color: #85a1bc;
    display: block;
    margin-top: 5px;
    font-weight: normal;
}
#footer li a {
    text-decoration: none;
}
#footer li:last-child {
    border-bottom: none;
}
#footer h4 {
    color: #85a1bc;
    text-shadow: 0 1px 1px #141a27;
    font-size: 20px;
    line-height: 24px;
    margin-top: 24px;
    padding-bottom: 13px;
    background: url(../images/border-footer.png) repeat-x 0 100%;
}

/* BOTTOM */
#bottom-wrap {
    background: url(../images/bottom-bg.png) repeat-x;
}
#bottom {
    overflow: hidden;
    padding-top: 23px;
    padding-bottom: 30px;
}
#bottom-wrap #bottom p:first-child {
    float:  left;
}
#bottom-wrap p, #bottom-wrap p a{
    color: #212b3f;
    font-weight: bold;
    display: inline
}
#bottom ul {
    float: right;
    overflow: hidden;
}

#bottom ul li {
    float: left;
    list-style: none;
    font-weight: bold;
    margin: 0 0 0 20px;
}
#bottom li a{
    color: #87a4c1;
    text-decoration: none
}
#bottom li.selected a, #bottom a:hover {
    color: #ffffff;
    text-decoration: underline
}